# Ignore the virtual environment
python_websockets/my_venv/

# Ignore cross compiler
musl/

# Ignore the libraries
jansson/
libwebsockets/
openssl/
zlib/

# Ignore their build folders
jansson-build/
libwebsockets-build/
openssl-build/
zlib-build/
